<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repositories</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
 
            
      
    
  <div class="container body-content">
    @RenderBody()
    <hr />

  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
  <script type="text/javascript" src="~/dist/ClientApp/runtime.js"></script>
  <script type="text/javascript" src="~/dist/ClientApp/polyfills.js"></script>
  <script type="text/javascript" src="~/dist/ClientApp/styles.js"></script>
  <script type="text/javascript" src="~/dist/ClientApp/vendor.js"></script>
  <script type="text/javascript" src="~/dist/ClientApp/main.js"></script>
</body>
</html>
